<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/index.css">
    <script src="https://kit.fontawesome.com/dbf26cb802.js" crossorigin="anonymous"></script>
    <title>Home @ CS:GO Live</title>
</head>
<body class="has-background-black">
    <div class="container">
        <img src="/assets/img/logo.png">
        <br>
        <a class="button-video" href="https://youtu.be/8xjewiW0W-o" target="_blank"><i class="fas fa-info-circle"></i></a>
        <a class="button-download" href="/download">.cfg</a>
        <button class="button-room" id="createRoom">Create Room</button>
    </div>

    <script src="/assets/js/index.js"></script>
</body>
</html>