* {
    margin: 0;
}

body {
    font-family: sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.button-room {
    margin-top: 10px;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button-video {
    margin-top: 10px;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button-download {
    margin-top: 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}