body {
  font-family: "Roboto", sans-serif;
  background-image: url("/assets/img/bg.png");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.nametag {
  width: 500px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 95%;
  transform: translateX(-50%) translateY(-95%);
  text-align: center;
  position: absolute;
  font-size: 19px;
  border-radius: 10px;
}

.nametag #name {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 25px;
  position: absolute;
  margin: auto;
}

.nametag p {
  margin: auto;
}

.standings {
  top: 2%;
  left: 50%;
  transform: translateX(-50%) translateY(-2%);
  position: absolute;
  text-align: center;
}

#ct_wins {
  font-size: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #5d79ae;
  margin-right: 5px;
}

#t_wins {
  font-size: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #de9b35;
}

.weapons {
  top: 95%;
  left: 98%;
  transform: translateX(-98%) translateY(-95%);
  font-size: 25px;
  position: absolute;
  text-align: right;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.weapons img {
  padding: 5px;
  border-radius: 10px;
  height: 50px;
}

.health_armor {
  width: 260px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  top: 95%;
  left: 2%;
  transform: translateX(-2%) translateY(-95%);
  position: absolute;
  font-size: 30px;
}

#health {
  top: 50%;
  left: 30%;
  transform: translateX(-30%) translateY(-50%);
  position: absolute;
}

#health_img {
  top: 50%;
  left: 12%;
  transform: translateX(-12%) translateY(-50%);
  position: absolute;
}

#armor {
  top: 50%;
  left: 80%;
  transform: translateX(-80%) translateY(-50%);
  position: absolute;
}

#armor_img {
  top: 50%;
  left: 60%;
  transform: translateX(-80%) translateY(-50%);
  position: absolute;
}

#money {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  top: 30%;
  left: 2%;
  transform: translateX(-2%) translateY(-30%);
  position: absolute;
  font-size: 30px;
  padding: 10px;
}

#effect_container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.logo {
  width: 150px;
  top: 2%;
  left: 2%;
  transform: translateX(-2%) translateY(-2%);
  position: absolute;
  opacity: 0.5;
}

#waiting-container {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  text-align: center;
}
